body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

#mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content {
    text-align: center;
}

#code {
    margin: auto;
    text-align: left;
    max-width: 500px;
}

#loveHeart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 670px;
    height: 620px;
    position: relative;
}
